/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  color: white;
  height: 100vh;
  background-image: url('../../assets/burning-crusade.png');
  background-size: auto 130%;
  background-position-y: -150px;
  background-position-x: 20px;
  font-family: 'Roboto', sans-serif;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  filter: brightness(1.00);
  animation: moveBackground 50s linear infinite alternate;
}

@keyframes moveBackground {
  0% {
    background-position-y: -150px;
    background-position-x: 20px;
  }
  100% {
    background-position-y: -150px;
    background-position-x: -200px;
  }
}

  /* @keyframes glow {
    0% {
      box-shadow: 0 0 120px 5px rgba(32, 224, 247, 0.3);
    }
    100% {
      box-shadow: 0 0 90px 40px rgba(32, 224, 247, 1);
    }
  }
  */


p {
  padding-bottom: 5px;
  margin-top: 2px;
}

em {
  font-size: 14px;
}

li {
  list-style:disc;
}

h3 {
  margin: 0;
  font-size: '12px';
  color: rgb(254,223,164, 1.2);
}

button {
  background-color: rgb(15, 27, 72, 0.86);
  padding: 10px 10px;
  border-radius: 5px;
  width: 150px;
  border: none;
  margin-left: 15px;
  appearance: none;
  color: white;
  font-size: 1.2rem;
  box-shadow: 0px 8px 28px -6px rgba(4, 112, 4, 0.587),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.85;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
  background-color: rgba(36, 146, 8, 0.86);
  box-shadow: 10px 45px 35px rgba(10, 10, 9, 0.25);

}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.wowlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 65px 0 20px 0px;
  filter: brightness(10000%) invert(100%) sepia(0%) saturate(0%);
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 2%;
  left:70%;
}


.snowfall {
  position: 'absolute';
  top: 0;
  left: 0;
  width: '100vw';
  height: '100vh';
  background: 'rgba(0, 0, 0, 0.40)';
}

.versionText h3 {
  text-align: right!important;
  /* width: 95%; */
  padding: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 300;
  /* letter-spacing: 1px; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.latest {
  color: rgba(30,250,80,100);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* background: #BB2020; */
  background: rgba(87, 120, 196, 0.587);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:window-inactive {
  /* background: #BB2020; */
  background: rgba(87, 120, 196, 0.987);
}

.overlay {
  position: relative;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  border-radius: 0.5em;
  padding: 0.1em 10px 5px 10px;
  pointer-events: none;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.overlay:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); /* Glow shadow on hover */
  background-color: rgba(0, 0, 0, 0.7); /* Darken the background on hover */
}

.overlayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay.error {
  color: red;
  width: 80%;
  background-color: rgba(25,25, 40, 0.85);
  padding: 20px;
  text-align: center;
}

.error h3 {
  margin: 0;
  font-size: 1.5em;
  padding-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.errorDetails {
  width: 100%;

  color: aliceblue;
  font-size: large;
}

.action-install {
  width: 100px;
}


.container {
  /* margin-top: 10px; */
  display: flex;
  padding: 20px 5px 20px 5px;
  height: 35px;
}

.left-content {
  flex: 75%;
}

.right-content {
  flex: 35%;
  text-align: right;
  padding-top: 16px;
  font-size: 15px;
}
.new {
  color: #fedc2a;
  font-weight: 600;
}

.warning {
  color: #eeff00;
  font-weight: 600;
  font-size: inherit;
}

.updatebtn {
  background-color: #63c20a;
}
.updatebtn:hover {
  background-color: #55bd01;
}
